# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml

# Generated Reports
data/processed/

# Windows
Thumbs.db

# macOS
.DS_Store